---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { ArrowLeft, ArrowRight } from '@/components/svg/index.astro'
const lang = Astro.currentLocale ?? 'zh',
  { item, json } = Astro.props,
  len = json.length,
  current = json.findIndex((entry: { id: any }) => entry.id === item.id),
  prev = json[(current + len - 1) % len],
  next = json[(current + 1) % len]
---

<div class="grid grid-cols-2 gap-4 border-t border-mist-600 pt-4 text-sm md:gap-12">
  <a
    href={getRelativeLocaleUrl(lang, `/${next.id}`)}
    aria-label={`prev：${prev.name.default}`}
    class="nav-item items-start pl-8"
  >
    <ArrowLeft />
    <h3 class="text-2xl font-semibold text-mist-200">
      {prev.name.default}
    </h3>
  </a>

  <a
    href={getRelativeLocaleUrl(lang, `/${next.id}`)}
    aria-label={`next：${next.name.default}`}
    class="nav-item items-end pr-8"
  >
    <ArrowRight />
    <h3 class="text-2xl font-semibold text-mist-200">
      {next.name.default}
    </h3>
  </a>
</div>
